<div class="">
  <div class=" prepo col-md-10">
    <%= link_to 'Articles', articles_path  %>
    <%= link_to 'Categories', categories_path  %>
    <%= link_to 'Authors', authors_path  %>
    <%= link_to 'Sections', sections_path  %>
  </div>

  <div class="col-md-2">
    <%= render 'layouts/sponsor' %>
  </div>
</div>

<div class="col-md-12 prepo-cir">
  <%= render 'layouts/circle' %>
</div>
