<p id="notice"><%= notice %></p>

<p>Title
  <h4><%= @article.title %></h4>
</p>
<p>SubTitle
  <h4><%= @article.subtitle %></h4>
</p>
<p>Image
  <h4><%= image_tag(@article.image, class:"img-responsive") %></h4>
</p>
<p>CategoryId
  <h4><%= @article.category.name %></h4>
</p>
<p>Content
  <h4><%= @article.content %></h4>
</p>
<p>AuthorId
  <h4><%= @article.author.name %></h4>
</p>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
