<p id="notice"><%= notice %></p>
<div class="container-fluid col-md-10 col-md-offset-1">
  <div class="row">
    <div class="article col-md-9 col-s-12">
      <div class="titles">
        <h1><%= @article.title %>:</h4>
        <h3><%= @article.subtitle %>.</h4>
        <%= image_tag(@article.image, class:"img-responsive", id:"imagen") %>
      </div>
        <br>
      <div class="content">
        <%=raw @article["content"] %>
          <br>
        <p>Ariculo por: <%= link_to @article.author.name, articles_author_path(@article.author.id) %></p>
        <!--<p>Articulo tipo: <%= @article.category.name %></h4> -->
      </div>
      <div class="admin">
        <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-default" %>
        <%= link_to 'Back', articles_path, class:"btn btn-default" %>
      </div>
    </div><!--article-->
    <div class="sponsor col-md-3 col-s-12">
      <%= render 'layouts/sponsor' %>
    </div><!--sponsor -->
    <div class="comments col-md-12 col-s-12">
      <div class="row">
        <ul>
          <li><h2>Comments</h2></li>
          <li><a href="#">Escribir comentario</a></li>
        </ul>
      </div><!-- row -->
      <div class="line-separator"></div>
      <%= render "comments" %>
      <div class="line-separator"></div>
      <br>
    </div><!-- comments -->
    <br>
  </div> <!--row-->
</div><!--container-->
