<p id="notice"><%= notice %></p>

<p>Name
  <h4><%= @user.name %></h4>
</p>
<p>Mail
  <h4><%= @user.mail %></h4>
</p>
<p>Password
  <h4><%= @user.password_digest %></h4>
</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
