<% stylesheet_link_tag "navbar" %>
<nav class="navbar-navo">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PushPlay", :home, { :class=>"navbar-brand" }  %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% @categories = Category.all
            @categories.each do |category| %>
            <li id=""><%= link_to image_tag(category.image, class: "", id: "navico"), articles_category_path(category.id) %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authors <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @authors = Author.all
                @authors.each do |author| %>
                <li><%= link_to image_tag(author.image, class: "img-responsive", id: ""), articles_author_path(author.id) %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to 'Logout', logout_path, method: "delete" %></li>
        <% end %>
        <li><%= link_to 'Login', login_path %></li>

        <li><%= link_to 'About us', :aboutus  %></li>
        <li><%= link_to 'Contact', :contact  %></li>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
<br>
