<!DOCTYPE html>
<html>
  <head>
    <title>PushPlay</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="">
      <%= yield %>
    </div>
  </body>
</html>
